<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stack -->
      <package
            uri="http://momot.big.tuwien.ac.at/examples/stack/1.0"
            class="at.ac.tuwien.big.momot.examples.stack.stack.StackPackage"
            genModel="model/stack.genmodel"/>
   </extension>

</plugin>
