/.MOMoTDescriptionLabelProvider.java._trace
/.MOMoTDescriptionLabelProvider.xtendbin
/.MOMoTLabelProvider.java._trace
/.MOMoTLabelProvider.xtendbin
/MOMoTDescriptionLabelProvider.java
/MOMoTLabelProvider.java
