/.HasNoUnassignedWorkItems.java._trace
/.HasTheAllowedMaximalNumberOfSprints.java._trace
/.MinimiseCustomerSatisfactionIndex.java._trace
/.MinimiseSprintEffortDeviation.java._trace
/HasNoUnassignedWorkItems.java
/HasTheAllowedMaximalNumberOfSprints.java
/MinimiseCustomerSatisfactionIndex.java
/MinimiseSprintEffortDeviation.java
