<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.at/tuwien/big/momot/lang/MOMoT" 
       class = "at.ac.tuwien.big.momot.lang.mOMoT.MOMoTPackage"
       genModel = "model/generated/MOMoT.genmodel" /> 
	
  </extension>




</plugin>
