/.MOMoTCompiler.java._trace
/.MOMoTCompiler.xtendbin
/.MOMoTJvmModelInferrer.java._trace
/.MOMoTJvmModelInferrer.xtendbin
/MOMoTCompiler.java
/MOMoTJvmModelInferrer.java
/.MOMoTFitnessFunctionInferrer.java._trace
/.MOMoTInferrer.java._trace
/MOMoTInferrer.java
/.MOMoTInferrer.xtendbin
