<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Ecore2GenericModularization/Ecore2Modularization.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Ecore"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Ecore" value="EMF"/>
<mapEntry key="Modul" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="Ecore" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="Modul" value="METAMODELOUTPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="false"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Modul"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="Ecore" value="uri:http://www.eclipse.org/emf/2002/Ecore"/>
<mapEntry key="IN" value="/Generic_Modularization_MM/examples/QVT.ecore"/>
<mapEntry key="Modul" value="/Generic_Modularization_MM/Generic_Modularization_MM.ecore"/>
<mapEntry key="OUT" value="/Generic_Modularization_MM/examples/QVT_module.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
