<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://martin-fleck.github.io/momot/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://martin-fleck.github.io/momot/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://martin-fleck.github.io/momot/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://martin-fleck.github.io/momot/stylesheets/custom.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="http://martin-fleck.github.io/momot/">MOMoT</a></h1>
      <h2 class="project-tagline">Marrying Search-Based Optimization and Model Transformations</h2>
      <a href="https://github.com/martin-fleck/momot" class="btn">View on GitHub</a>
      <a href="http://martin-fleck.github.io/momot/eclipse/updates/" class="btn">Eclipse Update Site</a>
      <a href="https://github.com/martin-fleck/momot/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/martin-fleck/momot/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      {{content}}
    </section>  
  </body>
</html>
