<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoring -->
      <package
            uri="http://momot.big.tuwien.ac.at/examples/refactoring/1.0"
            class="at.ac.tuwien.big.momot.examples.refactoring.refactoring.RefactoringPackage"
            genModel="model/refactoring.genmodel"/>
   </extension>

</plugin>
